@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 10s linear infinite;
}

.font-revue {
  font-family: 'Playfair Display', serif;
  color: #003262 !important;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: none;
}

html, body {
  scroll-snap-type: none;
  overflow-x: hidden;
}

/* Hide all scrollbars for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  scroll-snap-type: none;
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.section {
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}
